In [1]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [2]:
dict_table = pickle.load(open('data/dict_table','rb'))
df_historical_data = pd.read_csv('data/clean_fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('data/clean_fifa_worldcup_fixture.csv')

# Calculate Team Strength

In [3]:
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength

              GoalsScored  GoalsConceded
Team
Algeria          1.000000       1.461538
Angola           0.333333       0.666667
Argentina        1.691358       1.148148
Australia        0.812500       1.937500
Austria          1.482759       1.620690
...                   ...            ...
Uruguay          1.553571       1.321429
Wales            0.800000       0.800000
West Germany     2.112903       1.241935
Yugoslavia       1.666667       1.272727
Zaire            0.000000       4.666667

[85 rows x 2 columns]

# Function predict_points

In [4]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0, 0)

## Testing function

In [5]:
print(predict_points('England', 'United States'))
print(predict_points('Argentina', 'Mexico'))
print(predict_points('Qatar (H)', 'Ecuador')) # Qatar vs Team X -> 0 points to both

(2.2356147635326007, 0.5922397535606193)
(2.3129151525530505, 0.5378377125059863)
(0, 0)

# Predicting World Cup

## Group stage

In [6]:
df_fixture_group_48 = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [7]:
dict_table['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Netherlands    1  1  0  0   2   0  +2  3[a]
1    2      Ecuador    1  1  0  0   2   0  +2  3[a]
2    3      Senegal    1  0  0  1   0   2  −2  0[b]
3    4    Qatar (H)    1  0  0  1   0   2  −2  0[b]

In [8]:
for group in dict_table:
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        print("current group:>>>>", group)
        print('home and away:%s,%s'%(home,away))
        print("before frame:",dict_table[group])
        try:  
            dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
            dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away
        except:
            a=dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts']
            for x in a.str.split():
                aa= x[0].split('[')[0]
                print(aa)
            aa = float(aa) + points_home
            dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] = str(aa)
            b = dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts']
            for y in b.str.split():
                bb = y[0].split('[')[0]
            bb = float(bb) +points_away
            dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] = str(bb)
        print("after frame:",dict_table[group])
            
            #print('a',a)
            #dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] = a+ points_home
            #b = float(dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'].str.split("[")[0][0])
            #print('b',b)
            #dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] = b+points_away

    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

current group:>>>> Group A
home and away:Senegal,Netherlands
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Netherlands    1  1  0  0   2   0  +2  3[a]
1    2      Ecuador    1  1  0  0   2   0  +2  3[a]
2    3      Senegal    1  0  0  1   0   2  −2  0[b]
3    4    Qatar (H)    1  0  0  1   0   2  −2  0[b]
0
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Netherlands    1  1  0  0   2   0  +2   4.897481362825154
1    2      Ecuador    1  1  0  0   2   0  +2                3[a]
2    3      Senegal    1  0  0  1   0   2  −2  0.8966936039774208
3    4    Qatar (H)    1  0  0  1   0   2  −2                0[b]
current group:>>>> Group A
home and away:Netherlands,Ecuador
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Netherlands    1  1  0  0   2   0  +2   4.897481362825154
1    2      Ecuador    1  1  0  0   2   0  +2                3[a]
2    3      Senegal    1  0  0  1   0   2  −2  0.8966936039774208
3    4    Qatar (H)    1  0  0  1   0   2  −2                0[b]
4.897481362825154
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Netherlands    1  1  0  0   2   0  +2   6.894391713132395
1    2      Ecuador    1  1  0  0   2   0  +2  3.7820971005136244
2    3      Senegal    1  0  0  1   0   2  −2  0.8966936039774208
3    4    Qatar (H)    1  0  0  1   0   2  −2                0[b]
current group:>>>> Group A
home and away:Ecuador,Senegal
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Netherlands    1  1  0  0   2   0  +2   6.894391713132395
1    2      Ecuador    1  1  0  0   2   0  +2  3.7820971005136244
2    3      Senegal    1  0  0  1   0   2  −2  0.8966936039774208
3    4    Qatar (H)    1  0  0  1   0   2  −2                0[b]
3.7820971005136244
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                Pts
0    1  Netherlands    1  1  0  0   2   0  +2  6.894391713132395
1    2      Ecuador    1  1  0  0   2   0  +2  4.976815286748291
2    3      Senegal    1  0  0  1   0   2  −2  2.449696419739353
3    4    Qatar (H)    1  0  0  1   0   2  −2               0[b]
current group:>>>> Group A
home and away:Netherlands,Qatar
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                Pts
0    1  Netherlands    1  1  0  0   2   0  +2  6.894391713132395
1    2      Ecuador    1  1  0  0   2   0  +2  4.976815286748291
2    3      Senegal    1  0  0  1   0   2  −2  2.449696419739353
3    4    Qatar (H)    1  0  0  1   0   2  −2               0[b]
6.894391713132395
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD                Pts
0    1  Netherlands    1  1  0  0   2   0  +2  6.894391713132395
1    2      Ecuador    1  1  0  0   2   0  +2  4.976815286748291
2    3      Senegal    1  0  0  1   0   2  −2  2.449696419739353
3    4    Qatar (H)    1  0  0  1   0   2  −2               0[b]
current group:>>>> Group B
home and away:England,Iran
before frame:    Pos           Team  Pld  W  D  L  GF  GA  GD   Pts
0    1        England    1  1  0  0   6   2  +4     3
1    2          Wales    1  0  1  0   1   1   0  1[a]
2    3  United States    1  0  1  0   1   1   0  1[a]
3    4           Iran    1  0  0  1   2   6  −4     0
3
after frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1        England    1  1  0  0   6   2  +4    5.388251010951943
1    2          Wales    1  0  1  0   1   1   0                 1[a]
2    3  United States    1  0  1  0   1   1   0                 1[a]
3    4           Iran    1  0  0  1   2   6  −4  0.43330539903202214
current group:>>>> Group B
home and away:United States,Wales
before frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1        England    1  1  0  0   6   2  +4    5.388251010951943
1    2          Wales    1  0  1  0   1   1   0                 1[a]
2    3  United States    1  0  1  0   1   1   0                 1[a]
3    4           Iran    1  0  0  1   2   6  −4  0.43330539903202214
1
after frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1        England    1  1  0  0   6   2  +4    5.388251010951943
1    2          Wales    1  0  1  0   1   1   0     2.80337153943123
2    3  United States    1  0  1  0   1   1   0   1.9356595028112644
3    4           Iran    1  0  0  1   2   6  −4  0.43330539903202214
current group:>>>> Group B
home and away:Wales,Iran
before frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1        England    1  1  0  0   6   2  +4    5.388251010951943
1    2          Wales    1  0  1  0   1   1   0     2.80337153943123
2    3  United States    1  0  1  0   1   1   0   1.9356595028112644
3    4           Iran    1  0  0  1   2   6  −4  0.43330539903202214
2.80337153943123
after frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1        England    1  1  0  0   6   2  +4   5.388251010951943
1    2          Wales    1  0  1  0   1   1   0   4.795940882452012
2    3  United States    1  0  1  0   1   1   0  1.9356595028112644
3    4           Iran    1  0  0  1   2   6  −4    1.14559826749212
current group:>>>> Group B
home and away:England,United States
before frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1        England    1  1  0  0   6   2  +4   5.388251010951943
1    2          Wales    1  0  1  0   1   1   0   4.795940882452012
2    3  United States    1  0  1  0   1   1   0  1.9356595028112644
3    4           Iran    1  0  0  1   2   6  −4    1.14559826749212
5.388251010951943
after frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1        England    1  1  0  0   6   2  +4  7.6238657744845435
1    2          Wales    1  0  1  0   1   1   0   4.795940882452012
2    3  United States    1  0  1  0   1   1   0   2.527899256371884
3    4           Iran    1  0  0  1   2   6  −4    1.14559826749212
current group:>>>> Group B
home and away:Wales,England
before frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1        England    1  1  0  0   6   2  +4  7.6238657744845435
1    2          Wales    1  0  1  0   1   1   0   4.795940882452012
2    3  United States    1  0  1  0   1   1   0   2.527899256371884
3    4           Iran    1  0  0  1   2   6  −4    1.14559826749212
4.795940882452012
after frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                Pts
0    1        England    1  1  0  0   6   2  +4  9.217753127575735
1    2          Wales    1  0  1  0   1   1   0  5.878763834176662
2    3  United States    1  0  1  0   1   1   0  2.527899256371884
3    4           Iran    1  0  0  1   2   6  −4   1.14559826749212
current group:>>>> Group B
home and away:Iran,United States
before frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                Pts
0    1        England    1  1  0  0   6   2  +4  9.217753127575735
1    2          Wales    1  0  1  0   1   1   0  5.878763834176662
2    3  United States    1  0  1  0   1   1   0  2.527899256371884
3    4           Iran    1  0  0  1   2   6  −4   1.14559826749212
1.14559826749212
after frame:    Pos           Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1        England    1  1  0  0   6   2  +4   9.217753127575735
1    2          Wales    1  0  1  0   1   1   0   5.878763834176662
2    3  United States    1  0  1  0   1   1   0   4.349248480265582
3    4           Iran    1  0  0  1   2   6  −4  2.0922887730275064
current group:>>>> Group C
home and away:Argentina,Saudi Arabia
before frame:    Pos          Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1     3
1    2        Poland    1  0  1  0   0   0   0  1[a]
2    3        Mexico    1  0  1  0   0   0   0  1[a]
3    4     Argentina    1  0  0  1   1   2  −1     0
0
after frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.1482917658633607
1    2        Poland    1  0  1  0   0   0   0                1[a]
2    3        Mexico    1  0  1  0   0   0   0                1[a]
3    4     Argentina    1  0  0  1   1   2  −1    2.78159351546888

current group:>>>> Group C
home and away:Mexico,Poland
before frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.1482917658633607
1    2        Poland    1  0  1  0   0   0   0                1[a]
2    3        Mexico    1  0  1  0   0   0   0                1[a]
3    4     Argentina    1  0  0  1   1   2  −1    2.78159351546888
1
after frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.1482917658633607
1    2        Poland    1  0  1  0   0   0   0   2.944730740412008
2    3        Mexico    1  0  1  0   0   0   0  1.8604264483835886
3    4     Argentina    1  0  0  1   1   2  −1    2.78159351546888
current group:>>>> Group C
home and away:Poland,Saudi Arabia
before frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.1482917658633607
1    2        Poland    1  0  1  0   0   0   0   2.944730740412008
2    3        Mexico    1  0  1  0   0   0   0  1.8604264483835886
3    4     Argentina    1  0  0  1   1   2  −1    2.78159351546888
2.944730740412008
after frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.4552729689318946
1    2        Poland    1  0  1  0   0   0   0   5.529279903065692
2    3        Mexico    1  0  1  0   0   0   0  1.8604264483835886
3    4     Argentina    1  0  0  1   1   2  −1    2.78159351546888
current group:>>>> Group C
home and away:Argentina,Mexico
before frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.4552729689318946
1    2        Poland    1  0  1  0   0   0   0   5.529279903065692
2    3        Mexico    1  0  1  0   0   0   0  1.8604264483835886
3    4     Argentina    1  0  0  1   1   2  −1    2.78159351546888
2.78159351546888
after frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.4552729689318946
1    2        Poland    1  0  1  0   0   0   0   5.529279903065692
2    3        Mexico    1  0  1  0   0   0   0  2.3982641608895747
3    4     Argentina    1  0  0  1   1   2  −1  5.0945086680219305
current group:>>>> Group C
home and away:Poland,Argentina
before frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.4552729689318946
1    2        Poland    1  0  1  0   0   0   0   5.529279903065692
2    3        Mexico    1  0  1  0   0   0   0  2.3982641608895747
3    4     Argentina    1  0  0  1   1   2  −1  5.0945086680219305
5.529279903065692
after frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.4552729689318946
1    2        Poland    1  0  1  0   0   0   0   6.528133641241525
2    3        Mexico    1  0  1  0   0   0   0  2.3982641608895747
3    4     Argentina    1  0  0  1   1   2  −1  6.8934943744563295
current group:>>>> Group C
home and away:Saudi Arabia,Mexico
before frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1  3.4552729689318946
1    2        Poland    1  0  1  0   0   0   0   6.528133641241525
2    3        Mexico    1  0  1  0   0   0   0  2.3982641608895747
3    4     Argentina    1  0  0  1   1   2  −1  6.8934943744563295
3.4552729689318946
after frame:    Pos          Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Saudi Arabia    1  1  0  0   2   1  +1   4.095111585710795
1    2        Poland    1  0  1  0   0   0   0   6.528133641241525
2    3        Mexico    1  0  1  0   0   0   0   4.586762558096341
3    4     Argentina    1  0  0  1   1   2  −1  6.8934943744563295
current group:>>>> Group D
home and away:Denmark,Tunisia
before frame:    Pos       Team  Pld  W  D  L  GF  GA  GD   Pts
0    1     France    1  1  0  0   4   1  +3     3
1    2    Tunisia    1  0  1  0   0   0   0  1[a]
2    3    Denmark    1  0  1  0   0   0   0  1[a]
3    4  Australia    1  0  0  1   1   4  −3     0
1
after frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3                   3
1    2    Tunisia    1  0  1  0   0   0   0  1.6330673746238176
2    3    Denmark    1  0  1  0   0   0   0   3.192662100582091
3    4  Australia    1  0  0  1   1   4  −3                   0
current group:>>>> Group D
home and away:France,Australia
before frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3                   3
1    2    Tunisia    1  0  1  0   0   0   0  1.6330673746238176
2    3    Denmark    1  0  1  0   0   0   0   3.192662100582091
3    4  Australia    1  0  0  1   1   4  −3                   0
3
after frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1     France    1  1  0  0   4   1  +3    5.622543573775042
1    2    Tunisia    1  0  1  0   0   0   0   1.6330673746238176
2    3    Denmark    1  0  1  0   0   0   0    3.192662100582091
3    4  Australia    1  0  0  1   1   4  −3  0.27804261176449135
current group:>>>> Group D
home and away:Tunisia,Australia
before frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1     France    1  1  0  0   4   1  +3    5.622543573775042
1    2    Tunisia    1  0  1  0   0   0   0   1.6330673746238176
2    3    Denmark    1  0  1  0   0   0   0    3.192662100582091
3    4  Australia    1  0  0  1   1   4  −3  0.27804261176449135
1.6330673746238176
after frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   5.622543573775042
1    2    Tunisia    1  0  1  0   0   0   0   3.226511142733556
2    3    Denmark    1  0  1  0   0   0   0   3.192662100582091
3    4  Australia    1  0  0  1   1   4  −3  1.4465161064088505
current group:>>>> Group D
home and away:France,Denmark
before frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   5.622543573775042
1    2    Tunisia    1  0  1  0   0   0   0   3.226511142733556
2    3    Denmark    1  0  1  0   0   0   0   3.192662100582091
3    4  Australia    1  0  0  1   1   4  −3  1.4465161064088505
5.622543573775042
after frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   7.370862921600146
1    2    Tunisia    1  0  1  0   0   0   0   3.226511142733556
2    3    Denmark    1  0  1  0   0   0   0   4.248331148441897
3    4  Australia    1  0  0  1   1   4  −3  1.4465161064088505
current group:>>>> Group D
home and away:Australia,Denmark
before frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   7.370862921600146
1    2    Tunisia    1  0  1  0   0   0   0   3.226511142733556
2    3    Denmark    1  0  1  0   0   0   0   4.248331148441897
3    4  Australia    1  0  0  1   1   4  −3  1.4465161064088505
1.4465161064088505
after frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   7.370862921600146
1    2    Tunisia    1  0  1  0   0   0   0   3.226511142733556
2    3    Denmark    1  0  1  0   0   0   0   6.642584625803707
3    4  Australia    1  0  0  1   1   4  −3  1.9108016281507023
current group:>>>> Group D
home and away:Tunisia,France
before frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   7.370862921600146
1    2    Tunisia    1  0  1  0   0   0   0   3.226511142733556
2    3    Denmark    1  0  1  0   0   0   0   6.642584625803707
3    4  Australia    1  0  0  1   1   4  −3  1.9108016281507023
3.226511142733556
after frame:    Pos       Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1     France    1  1  0  0   4   1  +3   9.830233618306892
1    2    Tunisia    1  0  1  0   0   0   0   3.636441026989074
2    3    Denmark    1  0  1  0   0   0   0   6.642584625803707
3    4  Australia    1  0  0  1   1   4  −3  1.9108016281507023
current group:>>>> Group E
home and away:Germany,Japan
before frame:    Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Spain    1  1  0  0   7   0  +7    3
1    2       Japan    1  1  0  0   2   1  +1    3
2    3     Germany    1  0  0  1   1   2  −1    0
3    4  Costa Rica    1  0  0  1   0   7  −7    0

after frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  3.000000
1    2       Japan    1  1  0  0   2   1  +1  3.456492
2    3     Germany    1  0  0  1   1   2  −1  2.398799
3    4  Costa Rica    1  0  0  1   0   7  −7  0.000000
current group:>>>> Group E
home and away:Spain,Costa Rica
before frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  3.000000
1    2       Japan    1  1  0  0   2   1  +1  3.456492
2    3     Germany    1  0  0  1   1   2  −1  2.398799
3    4  Costa Rica    1  0  0  1   0   7  −7  0.000000
after frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  5.118647
1    2       Japan    1  1  0  0   2   1  +1  3.456492
2    3     Germany    1  0  0  1   1   2  −1  2.398799
3    4  Costa Rica    1  0  0  1   0   7  −7  0.699844
current group:>>>> Group E
home and away:Japan,Costa Rica
before frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  5.118647
1    2       Japan    1  1  0  0   2   1  +1  3.456492
2    3     Germany    1  0  0  1   1   2  −1  2.398799
3    4  Costa Rica    1  0  0  1   0   7  −7  0.699844
after frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  5.118647
1    2       Japan    1  1  0  0   2   1  +1  4.849422
2    3     Germany    1  0  0  1   1   2  −1  2.398799
3    4  Costa Rica    1  0  0  1   0   7  −7  2.061070
current group:>>>> Group E
home and away:Spain,Germany
before frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  5.118647
1    2       Japan    1  1  0  0   2   1  +1  4.849422
2    3     Germany    1  0  0  1   1   2  −1  2.398799
3    4  Costa Rica    1  0  0  1   0   7  −7  2.061070
after frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  6.113998
1    2       Japan    1  1  0  0   2   1  +1  4.849422
2    3     Germany    1  0  0  1   1   2  −1  4.205110
3    4  Costa Rica    1  0  0  1   0   7  −7  2.061070
current group:>>>> Group E
home and away:Japan,Spain
before frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  6.113998
1    2       Japan    1  1  0  0   2   1  +1  4.849422
2    3     Germany    1  0  0  1   1   2  −1  4.205110
3    4  Costa Rica    1  0  0  1   0   7  −7  2.061070
after frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  8.173003
1    2       Japan    1  1  0  0   2   1  +1  5.591129
2    3     Germany    1  0  0  1   1   2  −1  4.205110
3    4  Costa Rica    1  0  0  1   0   7  −7  2.061070
current group:>>>> Group E
home and away:Costa Rica,Germany
before frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  8.173003
1    2       Japan    1  1  0  0   2   1  +1  5.591129
2    3     Germany    1  0  0  1   1   2  −1  4.205110
3    4  Costa Rica    1  0  0  1   0   7  −7  2.061070
after frame:    Pos        Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Spain    1  1  0  0   7   0  +7  8.173003
1    2       Japan    1  1  0  0   2   1  +1  5.591129
2    3     Germany    1  0  0  1   1   2  −1  6.667006
3    4  Costa Rica    1  0  0  1   0   7  −7  2.471655
current group:>>>> Group F
home and away:Morocco,Croatia
before frame:    Pos     Team  Pld  W  D  L  GF  GA  GD   Pts
0    1  Belgium    1  1  0  0   1   0  +1     3
1    2  Croatia    1  0  1  0   0   0   0  1[a]
2    3  Morocco    1  0  1  0   0   0   0  1[a]
3    4   Canada    1  0  0  1   0   1  −1     0
1
after frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1                   3
1    2  Croatia    1  0  1  0   0   0   0  3.0851671970991186
2    3  Morocco    1  0  1  0   0   0   0   1.711899189819569
3    4   Canada    1  0  0  1   0   1  −1                   0
current group:>>>> Group F
home and away:Belgium,Canada
before frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1                   3
1    2  Croatia    1  0  1  0   0   0   0  3.0851671970991186
2    3  Morocco    1  0  1  0   0   0   0   1.711899189819569
3    4   Canada    1  0  0  1   0   1  −1                   0
3
after frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1  Belgium    1  1  0  0   1   0  +1    5.811257542107041
1    2  Croatia    1  0  1  0   0   0   0   3.0851671970991186
2    3  Morocco    1  0  1  0   0   0   0    1.711899189819569
3    4   Canada    1  0  0  1   0   1  −1  0.09431537009970302
current group:>>>> Group F
home and away:Belgium,Morocco
before frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1  Belgium    1  1  0  0   1   0  +1    5.811257542107041
1    2  Croatia    1  0  1  0   0   0   0   3.0851671970991186
2    3  Morocco    1  0  1  0   0   0   0    1.711899189819569
3    4   Canada    1  0  0  1   0   1  −1  0.09431537009970302
5.811257542107041
after frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1  Belgium    1  1  0  0   1   0  +1    7.598992828684174
1    2  Croatia    1  0  1  0   0   0   0   3.0851671970991186
2    3  Morocco    1  0  1  0   0   0   0   2.7039909281738894
3    4   Canada    1  0  0  1   0   1  −1  0.09431537009970302
current group:>>>> Group F
home and away:Croatia,Canada
before frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                  Pts
0    1  Belgium    1  1  0  0   1   0  +1    7.598992828684174
1    2  Croatia    1  0  1  0   0   0   0   3.0851671970991186
2    3  Morocco    1  0  1  0   0   0   0   2.7039909281738894
3    4   Canada    1  0  0  1   0   1  −1  0.09431537009970302
3.0851671970991186
after frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1   7.598992828684174
1    2  Croatia    1  0  1  0   0   0   0   5.926629278729355
2    3  Morocco    1  0  1  0   0   0   0  2.7039909281738894
3    4   Canada    1  0  0  1   0   1  −1  0.1734795082327255
current group:>>>> Group F
home and away:Croatia,Belgium
before frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1   7.598992828684174
1    2  Croatia    1  0  1  0   0   0   0   5.926629278729355
2    3  Morocco    1  0  1  0   0   0   0  2.7039909281738894
3    4   Canada    1  0  0  1   0   1  −1  0.1734795082327255
5.926629278729355
after frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1    8.60556064975539
1    2  Croatia    1  0  1  0   0   0   0   7.720201227731648
2    3  Morocco    1  0  1  0   0   0   0  2.7039909281738894
3    4   Canada    1  0  0  1   0   1  −1  0.1734795082327255
current group:>>>> Group F
home and away:Canada,Morocco
before frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1    8.60556064975539
1    2  Croatia    1  0  1  0   0   0   0   7.720201227731648
2    3  Morocco    1  0  1  0   0   0   0  2.7039909281738894
3    4   Canada    1  0  0  1   0   1  −1  0.1734795082327255
0.1734795082327255
after frame:    Pos     Team  Pld  W  D  L  GF  GA  GD                 Pts
0    1  Belgium    1  1  0  0   1   0  +1    8.60556064975539
1    2  Croatia    1  0  1  0   0   0   0   7.720201227731648
2    3  Morocco    1  0  1  0   0   0   0   5.238742351375647
3    4   Canada    1  0  0  1   0   1  −1  0.4061031661500182
current group:>>>> Group G
home and away:Switzerland,Cameroon
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    0  0  0  0   0   0   0    0
1    2       Serbia    0  0  0  0   0   0   0    0
2    3  Switzerland    0  0  0  0   0   0   0    0
3    4     Cameroon    0  0  0  0   0   0   0    0
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  0.000000
1    2       Serbia    0  0  0  0   0   0   0  0.000000
2    3  Switzerland    0  0  0  0   0   0   0  2.067867
3    4     Cameroon    0  0  0  0   0   0   0  0.751699
current group:>>>> Group G
home and away:Brazil,Serbia
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  0.000000
1    2       Serbia    0  0  0  0   0   0   0  0.000000
2    3  Switzerland    0  0  0  0   0   0   0  2.067867
3    4     Cameroon    0  0  0  0   0   0   0  0.751699
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  2.466296
1    2       Serbia    0  0  0  0   0   0   0  0.383283
2    3  Switzerland    0  0  0  0   0   0   0  2.067867
3    4     Cameroon    0  0  0  0   0   0   0  0.751699

current group:>>>> Group G
home and away:Cameroon,Serbia
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  2.466296
1    2       Serbia    0  0  0  0   0   0   0  0.383283
2    3  Switzerland    0  0  0  0   0   0   0  2.067867
3    4     Cameroon    0  0  0  0   0   0   0  0.751699
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  2.466296
1    2       Serbia    0  0  0  0   0   0   0  1.991065
2    3  Switzerland    0  0  0  0   0   0   0  2.067867
3    4     Cameroon    0  0  0  0   0   0   0  1.854774
current group:>>>> Group G
home and away:Brazil,Switzerland
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  2.466296
1    2       Serbia    0  0  0  0   0   0   0  1.991065
2    3  Switzerland    0  0  0  0   0   0   0  2.067867
3    4     Cameroon    0  0  0  0   0   0   0  1.854774
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  4.967083
1    2       Serbia    0  0  0  0   0   0   0  1.991065
2    3  Switzerland    0  0  0  0   0   0   0  2.452877
3    4     Cameroon    0  0  0  0   0   0   0  1.854774
current group:>>>> Group G
home and away:Serbia,Switzerland
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  4.967083
1    2       Serbia    0  0  0  0   0   0   0  1.991065
2    3  Switzerland    0  0  0  0   0   0   0  2.452877
3    4     Cameroon    0  0  0  0   0   0   0  1.854774
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  4.967083
1    2       Serbia    0  0  0  0   0   0   0  3.076918
2    3  Switzerland    0  0  0  0   0   0   0  4.117055
3    4     Cameroon    0  0  0  0   0   0   0  1.854774
current group:>>>> Group G
home and away:Cameroon,Brazil
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  4.967083
1    2       Serbia    0  0  0  0   0   0   0  3.076918
2    3  Switzerland    0  0  0  0   0   0   0  4.117055
3    4     Cameroon    0  0  0  0   0   0   0  1.854774
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1       Brazil    0  0  0  0   0   0   0  7.733871
1    2       Serbia    0  0  0  0   0   0   0  3.076918
2    3  Switzerland    0  0  0  0   0   0   0  4.117055
3    4     Cameroon    0  0  0  0   0   0   0  2.015476
current group:>>>> Group H
home and away:Uruguay,South Korea
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  0.000000
1    2        Ghana    0  0  0  0   0   0   0  0.000000
2    3      Uruguay    0  0  0  0   0   0   0  2.358586
3    4  South Korea    0  0  0  0   0   0   0  0.504356
current group:>>>> Group H
home and away:Portugal,Ghana
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  0.000000
1    2        Ghana    0  0  0  0   0   0   0  0.000000
2    3      Uruguay    0  0  0  0   0   0   0  2.358586
3    4  South Korea    0  0  0  0   0   0   0  0.504356
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  1.948655
1    2        Ghana    0  0  0  0   0   0   0  0.848427
2    3      Uruguay    0  0  0  0   0   0   0  2.358586
3    4  South Korea    0  0  0  0   0   0   0  0.504356
current group:>>>> Group H
home and away:South Korea,Ghana
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  1.948655
1    2        Ghana    0  0  0  0   0   0   0  0.848427
2    3      Uruguay    0  0  0  0   0   0   0  2.358586
3    4  South Korea    0  0  0  0   0   0   0  0.504356
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  1.948655
1    2        Ghana    0  0  0  0   0   0   0  2.780630
2    3      Uruguay    0  0  0  0   0   0   0  2.358586
3    4  South Korea    0  0  0  0   0   0   0  1.371805
current group:>>>> Group H
home and away:Portugal,Uruguay
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  1.948655
1    2        Ghana    0  0  0  0   0   0   0  2.780630
2    3      Uruguay    0  0  0  0   0   0   0  2.358586
3    4  South Korea    0  0  0  0   0   0   0  1.371805
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  3.546051
1    2        Ghana    0  0  0  0   0   0   0  2.780630
2    3      Uruguay    0  0  0  0   0   0   0  3.555985
3    4  South Korea    0  0  0  0   0   0   0  1.371805
current group:>>>> Group H
home and away:Ghana,Uruguay
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  3.546051
1    2        Ghana    0  0  0  0   0   0   0  2.780630
2    3      Uruguay    0  0  0  0   0   0   0  3.555985
3    4  South Korea    0  0  0  0   0   0   0  1.371805
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  3.546051
1    2        Ghana    0  0  0  0   0   0   0  3.786700
2    3      Uruguay    0  0  0  0   0   0   0  5.337936
3    4  South Korea    0  0  0  0   0   0   0  1.371805
current group:>>>> Group H
home and away:South Korea,Portugal
before frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  3.546051
1    2        Ghana    0  0  0  0   0   0   0  3.786700
2    3      Uruguay    0  0  0  0   0   0   0  5.337936
3    4  South Korea    0  0  0  0   0   0   0  1.371805
after frame:    Pos         Team  Pld  W  D  L  GF  GA  GD       Pts
0    1     Portugal    0  0  0  0   0   0   0  6.031392
1    2        Ghana    0  0  0  0   0   0   0  3.786700
2    3      Uruguay    0  0  0  0   0   0   0  5.337936
3    4  South Korea    0  0  0  0   0   0   0  1.766316

In [9]:
dict_table['Group B']

            Team                 Pts
0        England   9.217753127575735
1          Wales   5.878763834176662
2  United States   4.349248480265582
3           Iran  2.0922887730275064

## Knock out

In [10]:
df_fixture_knockout

               home     score                away  year
48  Winners Group A  Match 49  Runners-up Group B  2022
49  Winners Group C  Match 50  Runners-up Group D  2022
50  Winners Group D  Match 52  Runners-up Group C  2022
51  Winners Group B  Match 51  Runners-up Group A  2022
52  Winners Group E  Match 53  Runners-up Group F  2022
53  Winners Group G  Match 54  Runners-up Group H  2022
54  Winners Group F  Match 55  Runners-up Group E  2022
55  Winners Group H  Match 56  Runners-up Group G  2022

In [11]:
for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    df_fixture_knockout.replace({f'Winners {group}':group_winner,
                                 f'Runners-up {group}':runners_up}, inplace=True)

df_fixture_knockout['winner'] = '?'
df_fixture_knockout

           home     score         away  year winner
48  Netherlands  Match 49        Wales  2022      ?
49    Argentina  Match 50      Denmark  2022      ?
50       France  Match 52       Poland  2022      ?
51      England  Match 51      Ecuador  2022      ?
52        Spain  Match 53      Croatia  2022      ?
53       Brazil  Match 54      Uruguay  2022      ?
54      Belgium  Match 55      Germany  2022      ?
55     Portugal  Match 56  Switzerland  2022      ?

In [12]:
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [13]:
get_winner(df_fixture_knockout)

           home     score         away  year       winner
48  Netherlands  Match 49        Wales  2022  Netherlands
49    Argentina  Match 50      Denmark  2022    Argentina
50       France  Match 52       Poland  2022       France
51      England  Match 51      Ecuador  2022      England
52        Spain  Match 53      Croatia  2022        Spain
53       Brazil  Match 54      Uruguay  2022       Brazil
54      Belgium  Match 55      Germany  2022      Germany
55     Portugal  Match 56  Switzerland  2022     Portugal

## Quarter Final

In [14]:
def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winners {match}':winner}, inplace=True)
    df_fixture_round_2['winner'] = '?'
    return df_fixture_round_2

In [15]:
update_table(df_fixture_knockout, df_fixture_quarter)

           home     score       away  year winner
56        Spain  Match 58     Brazil  2022      ?
57  Netherlands  Match 57  Argentina  2022      ?
58      Germany  Match 60   Portugal  2022      ?
59      England  Match 59     France  2022      ?

In [16]:
get_winner(df_fixture_quarter)

           home     score       away  year       winner
56        Spain  Match 58     Brazil  2022       Brazil
57  Netherlands  Match 57  Argentina  2022  Netherlands
58      Germany  Match 60   Portugal  2022      Germany
59      England  Match 59     France  2022       France

## Semifinal

In [17]:
update_table(df_fixture_quarter, df_fixture_semi)

           home     score     away  year winner
60  Netherlands  Match 61   Brazil  2022      ?
61       France  Match 62  Germany  2022      ?

In [18]:
get_winner(df_fixture_semi)

           home     score     away  year   winner
60  Netherlands  Match 61   Brazil  2022   Brazil
61       France  Match 62  Germany  2022  Germany

## Final

In [19]:
update_table(df_fixture_semi, df_fixture_final)

               home     score             away  year winner
62  Losers Match 61  Match 63  Losers Match 62  2022      ?
63           Brazil  Match 64          Germany  2022      ?

In [20]:
get_winner(df_fixture_final)

               home     score             away  year           winner
62  Losers Match 61  Match 63  Losers Match 62  2022  Losers Match 62
63           Brazil  Match 64          Germany  2022           Brazil